a{
    margin: 30px;
    background-color:rgb(56, 56, 199);
    padding: 20px;
    border: 2px solid gray;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
a:link{
    color: orange;
}
a:active{
    color: green;
    font-size: 30px;
}
a:hover{
    background-color: gray;
    color: rgb(56, 56, 199);
    border: 2px solid rgb(56, 56, 199);
}
a:visited{
    color:red;
}