body{
    background-color: black;
    color: white;
}
.container{
    width: 80%;
    background-color: #272626;
    border-radius: 20px;
    margin: auto;
}
.heading{
    font-family: 'Lobster', cursive;
    
}
.title{
    text-align: center;
    font-size: 60px;
}
span{
    color: red;
}

.imgcontainer{
    width: 400px;
    margin: auto;
}
img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 200px red;
}
.date{
    text-align: center;
}
.info{
    width: 80%;
    text-align: justify;
    margin: auto;
    font-size: 20px;
}
.marvel{
    color: red;
    margin-left: 10%;
}
ul{ 
    width: 80%;
    margin: auto;
    font-size: 20px;
}
li{
    line-height: 20px;
    margin-bottom: 10px;
}
footer{
    text-align: center;
    font-size: 24px;
    padding: 32px;
}
.link{
    background-color: black;
    color: white;
    padding: 16px;
    border: 1px solid darkorange;
    border-radius: 10px;
    text-decoration: none;
}
.link:hover{
    color: red;
    background-color: #272626;
}

