.{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #e8d6d0;
}
div{
    max-width: 1000px;
    position: absolute;
    top: 125px;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img{
    border-radius: 50%;
    border: 4px solid black;
}
.divimg{
    display: flex;
    justify-content: center;
    padding: 50px;
    z-index: 1;
    position: relative;
    top: -107px;
    left: 200px;
}
.divtext{
    width: 900px;
    padding-top: 200px;
    background-color: #dc6c5e;
    border: 4px solid black;
}
span{
    color: #d6ea3c;
}

p{  
    color: #1f1919;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 50px;
    text-align: center;
}
.p1{
    color: #1f1919;
    font-size: 30px;
}
@media screen and (max-witdh:700px){
    body{
        display: flex;
        width: fit-content;
    }
}